extends ../layout

block content
  script.
    $(function(){
      $('a').on('click', function(){
        $.ajax('', {
          type: "PUT",
          data: {entry: $('.entry').val()},
          complete: function(){
            $('ul').append("<li><img src='" + $('.entry').val() + "'></img></li>");
            $('ul li:last img').animate({
              'background-color': '#f1c40f'
            }, {duration: 100}).animate({
              'background-color': 'transparent'
            }, {duration: 100})

            $('input').val('')
          }
        })
      })
    })

  span poll is pending
  h1 #{poll.question}
  input(class='entry')
  a(href="javascript:void(0)")
    | add entry
  ul 
   each item in poll.entries
     li
       img(src="#{item}")

 
 
 
 
 

